<configuration>
  <system.webServer>
    <!-- Indicamos a IIS que use Node para manejar las solicitudes -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>

    <!-- Redirige todas las peticiones HTTP a Node.js -->
    <rewrite>
      <rules>
        <rule name="all" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Configuración de IISNode -->
    <iisnode 
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      devErrorsEnabled="true"
      loggingEnabled="true"
    />

    <httpErrors errorMode="Detailed"/>
  </system.webServer>
</configuration>
